.homepage-welcome-message {
    color: #EA4545;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;

}

.search-games-title {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;

}

.home-screen {
    width: 85%;
    margin: auto;
    z-index: 0;

}

.games {
    display: grid;
    grid-template-columns: repeat(50, auto);
    background-color: #2d2d2f;
    border-radius: 10px;
    overflow-x: scroll;
}

.game {
    margin: 10px;
    background-color: rgb(29, 29, 31);
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.game:hover {
    transform: scale(1.05);
    animation: game-shake 400ms;
}

@keyframes game-shake {
    0% {
        transform: scale(1.05) rotate(0deg);
    }

    25% {
        transform: scale(1.05) rotate(-2.5deg);
    }

    50% {
        transform: scale(1.05) rotate(5deg);
    }

    75% {
        transform: scale(1.05) rotate(-2.5deg);
    }

    100% {
        transform: scale(1.05) rotate(0deg);
    }
}

.game-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.game-title {
    z-index: 0;
    width: 100%;
    padding-top: 60px;
    background: rgb(29, 29, 31);
    background: -moz-linear-gradient(0, rgba(29, 29, 31, 1) 0%, rgba(29, 29, 31, 1) 30%, rgba(29, 29, 31, 0) 100%);
    background: -webkit-linear-gradient(0, rgba(29, 29, 31, 1) 0%, rgba(29, 29, 31, 1) 30%, rgba(29, 29, 31, 0) 100%);
    background: linear-gradient(0, rgba(29, 29, 31, 1) 0%, rgba(29, 29, 31, 1) 30%, rgba(29, 29, 31, 0) 100%);
    text-align: center;
    border-radius: 0 0 10px 10px;

}
.footer {
    margin-top: 40px;
    text-align: center;
    color: #8C8A93;;
    font-weight: 100;
    font-size: 18px;

}
.new-here-home {
    margin-top: 50px;
}
