ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

li {
  padding: 18px 10px;
}

.header-links {
  overflow-y: scroll;
}

.sidepanel {
  width: 0;
  position: fixed;
  height: 80vh;
  top: 0;
  left: 0;
  background-color: #1D1D1F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-bottom: 45px;
  padding-top: 60px;
  z-index: 200;
  border-bottom: 20vh solid #1D1D1F;
}

.sidepanel a,
.log-out {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  margin: 25px auto;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.log-out {
  margin-bottom: 60px;

}

.sidepanel a:hover {
  background-color: #2D2D2F;
}

.full-screen-cover {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  width: 1;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: darker 1000ms forwards;
}
@keyframes darker {
  0%{
  background-color: rgba(0, 0, 0, 0);
  }
  100% {
  background-color: rgba(0, 0, 0, 0.5);

  }
  
}

.burger-header {
  z-index: 300;
  background-color: #1D1D1F;
  border-radius: 10px;
  border: 1px solid #ea454557;
}

.dropdown-icon {
  border: 2px solid #2D2D2F;
  padding: 10px;
  border-radius: 10px;
  background-color: #2D2D2F;
  color: #EA4545;
  margin-right: 10px;
}

.log-out-icon {
  padding: 10px;
  border-radius: 10px;
  color: #EA4545;
  margin-right: 10px;
}

.log-out-divider {
  width: 80%;
  margin: auto;
  background-color: #8C8A93;
  border: none;
  height: 1px;
}

.log-out-text {
  color: whitesmoke;
}

.dropdown-user {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 15px;

}

.dropdown-email {
  font-weight: 100;
}

.dropdown-user-icon {
  border: 2px solid #2D2D2F;
  padding: 10px;
  border-radius: 10px;
  background-color: #2D2D2F;
  color: #EA4545;
  margin-left: 28px;
  font-size: 30px;
  margin-top: 15px;

}

.dropdown-user p {
  margin-top: 0px;
}

.log-out:hover {
  background-color: #EA454524;
  cursor: pointer;
}
.logo {
  height:100px;
}