.profile-list {
    width: fit-content;
    margin: auto;
}

.profile-list-item {
    display: flex;
    margin-top: 10px;
    background-color: #2D2D2F;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.profile-user {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}

.profile-image {
    display: block;
    border: 2px solid #2D2D2F;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: #2D2D2F;
    color: #EA4545;
    font-size: 30px;
    margin-bottom: 15px;
}

.chart-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-graph {
    box-sizing: border-box;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    background-color: #2D2D2F;
    padding: 10px;
}

.profile-edit__wrapper {
    display: flex;
    width: 100%;
    justify-content: right;
}

.profile-edit__button {
    margin-left: auto;
    margin-right: 30px;
    border-radius: 5px;
    background-color: #2D2D2F;
    color: #EA4545;
    padding: 7px;
    border: 0.5px solid transparent;
    transition: 400ms;
}

.profile-edit__button--active {
    color: white;
    background-color: #EA4545;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 5px;
    color: #2D2D2F;
    padding: 7px;
    border: 0.5px solid transparent;
    transition: 400ms;
}

.profile-edit__button:hover {
    border: 0.5px solid #EA4545;
    opacity: 95%;
    cursor: pointer;
}


.edit-profile-picture {
    text-align: center;
    font-size: 16px;
    color: rgba(231, 119, 119, 0.84);
    user-select: none;
}

.edit-profile-picture:hover {
    cursor: pointer;
    color: #EA4545;
}

.edit-field-wrapper {
    border: 2px solid transparent;

    display: flex;
    margin-top: 10px;
    background-color: #2D2D2F;
    color: whitesmoke;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    outline: 0;
    font-size: 16px;
    padding: 20px;
}

.edit-field-input {
    display: flex;
    background-color: #2D2D2F;
    color: whitesmoke;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.edit-icon {
    color: #EA4545;
}

.edit-field-wrapper:focus-within {
    border-color: #EA4545;
}

.edit-divider {
    margin-top: 10px;
    height: 1px;
    border: 0;
    background-color: rgb(88, 88, 95);
}

.submit-edit {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #EA4545;
    color: white;
    padding: 7px;
    border: 0.5px solid transparent;
    transition: 400ms;
    font-size: 20px;
    font-weight: 900;
}
.edit-delete {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(255, 159, 64, 0.2);
    transition: 400ms;
    border: 2px solid rgba(255, 159, 64, 1);
    color: rgba(255, 159, 64, 1);
    padding: 7px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}
.edit-delete:hover {
    background-color: rgba(255, 159, 64, 1);
    color: #2D2D2F;
}
.delete-confirmation-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:scale(0) translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    z-index: 200;
    background-color: #2D2D2F;
    border:2px solid red;
    animation: scale-up 200ms forwards;

}
.delete-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-screen-btn {
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(255, 159, 64, 1);
    color: #2D2D2F;
    transition: 400ms;
    border: 2px solid rgba(255, 159, 64, 1);
    padding: 7px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}
.delete-screen-btn--cancel {
    background-color: transparent;
    color: rgba(255, 159, 64, 1);
}
@keyframes scale-up {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

.profile-error {
    font-size: 10px;
}
.loading-profile-image
{
    width: 30px;
    height: 30px;
}
.loading {
    background-color: rgb(179, 179, 179);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    opacity: 0.1;
    animation: 1.2s ease-in-out 0s infinite normal none running skeleton;
}
.loading-profile-list-item {
    width: 30vw;
}
.loading-profile-graph {
    height:40vw;
}
@keyframes skeleton {
    0% {
        background-position: -200px 0px;
    }
    100% {
        background-position: calc(200px + 100%) 0px;
    }
    
}