.sign-up {
    color: #E1E1E6;
    width: 85%;
    margin: auto;
}

.sign-up__header {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.sign-up__back-btn {
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    border-radius: 10px;
    border: 1px solid #8C8A93;
    padding: 10px;
    margin-right: 10px;
}

.sign-up__header h2 {
    font-size: 32px;
    font-weight: 300;
    color: #8C8A93;
}

.create-account {
    margin-top: 0px;
    font-size: 32px;
}

.input-wrapper {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #8C8A93;
    background-color: #2D2D2F;
    width: 100%;
    cursor: text;
    font-size: 24px;
    border: 2px solid transparent;
}

.input-wrapper input {
    margin-left: 10px;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: 0;
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper:focus-within {
    border-color: #EA4545;
}

.input-wrapper input::placeholder {
    color: #8C8A93;
}

.sign-up__button {
    background-color: #EA4545;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    border: transparent;
    border-radius: 10px;
    padding: 7px;
    width: 100%;
}

.sign-up__button:hover {
    opacity: 90%;
    cursor: pointer;
}

.sing-up-divisor {
    display: flex;
    background-color: red;
    align-items: center;
    width: 100%;

}

.d-right {
    float: right;
    width: 47%;
}

.d-left {
    float: left;
    width: 47%;
}

.d-or {
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
}

.divisor {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}

.sign-up__third-parties {
    display: flex;
    flex-direction: column;
}

.sign-up__third-party {
    background-color: transparent;
    margin: 10px auto;
    border: 1px solid #8C8A93;
    border-radius: 10px;
    color: #E1E1E6;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-up__third-party svg {
    margin-right: 5px;
}

.error__input {
    border-color: red;

    margin-bottom: 0;
}

.error__input:focus-within {
    border-color: red;

}

.error__msg {
    color: #EA4545;

    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.sign-up__link {
    width: fit-content;
    margin: 20px auto;
}

.sign-up__link a {
    color: #EA4545;
}

.wave-animation {
    display: flex;
    width: 50px;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    height: 25px;
}

.wave {
    background-color: whitesmoke;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    width: 0;
    margin: 3px;
    animation: wave 2s infinite;
    animation-delay: var(--w);
}

@keyframes wave {
    0% {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    50% {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    100% {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.confirmation-message {
    margin: auto;
    color: rgba(87, 226, 66, 0.701);
    text-align: center;
    margin-top: 10px;
}

.confirmation--signup {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.back-arrow-confirmation {
    color: #E1E1E6;
    margin: 20px;
}

.sign-in__button--confirmation {
    border: 0;
    border-radius: 10px;
    background-color: #EA4545;
    color: #E1E1E6;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    min-width: fit-content;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.sign-in__button--confirmation:hover {
    opacity: 90%;
}