.tower {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid;
    border-color: #f25e5e47;

    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: auto;
}
.tower-floor {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    margin: 5px 0px;
    background-color: transparent;
}
.tower-box {
    background-color: #2d2d2f;
    width: 100%;
    height:30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    
}
.tower-floor--0,
.tower-floor--4
{
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.tower-floor--1,
.tower-floor--3
{
    grid-template-columns: 1fr 1fr 1fr;
}
.tower-floor--2 {
    grid-template-columns: 1fr 1fr;
}
.tower-current {
    background-color: #3d3d3f;
}

.tower-box-empty {
    transition: 400ms;
    background-color: rgb(220, 122, 122);
}


.tower-box-egg {
    transition: 400ms;
    background-color: rgb(129, 228, 129);
}
.tower-box-seen {
    transition: 400ms;
    background-color: rgb(52, 197, 52);
}